[project]
	description = mon premier git repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/saikoumar25
[access "refs/for/refs/*"]
	read = group user/saikoumar25
	push = group user/saikoumar25
	label-Code-Review = -2..+2 group user/saikoumar25
	label-Verified = -1..+1 group user/saikoumar25
	rebase = group user/saikoumar25
	removeReviewer = group user/saikoumar25
	submit = group user/saikoumar25
[access "refs/heads/*"]
	read = group user/saikoumar25
	create = group user/saikoumar25
	push = +force group user/saikoumar25
	pushMerge = group user/saikoumar25
[access "refs/tags/*"]
	push = +force group user/saikoumar25
	pushTag = group user/saikoumar25
	pushSignedTag = group user/saikoumar25
